* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 0 .5em;
    font-family: "Work Sans";
    font-weight: bold;
    display: flex;
}
.heading a {
    display: flex;
    margin: auto;
    font-family: Montserrat;
    font-size: 3em;
    padding: .2em;
    font-weight: unset;
}
.tags {
}
a:hover {
    color: blue;
}
img {
    max-width: 20px;
}