* {
    color: #1d3354;
    font-family: "Academy Engraved LET";
}


header {
    /*Instructed by DocRob to use localhost url as a workaround since IntelliJ wouldn't display the image otherwise.*/
    background-image: url("http://localhost:63342/codeup-web-exercises/img/wooden-plank.jpeg");
    /*background-image: url("/img/wooden-plank.jpeg");*/
    background-size: 500px 150px;
    background-blend-mode: difference;
}

#about-us {
    background-image: url("http://localhost:63342/codeup-web-exercises/img/red-wooden-house.jpeg");
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
}

body {
    background-color: #9ed8db;
}

.fancy-header {
    color: #e9fff9;
    text-decoration: underline;
}

h1 {
    text-align: center;
}

.sub-headers {
    color: #D64045;
    text-decoration: underline;
}

#core, #vision {
    list-style: square;
}

table, th, td {
    color: #e9fff9;
    font-size: medium;
    background-image: url("http://localhost:63342/codeup-web-exercises/img/wooden-plank.jpeg");
    /*background-image: url("/img/wooden-plank.jpeg");*/
    background-size: 500px 150px;
    border: 1px solid black;
    width: 35%;
    padding: 10px;
}

a:link {
    color: red;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}

a:active {
    color: green;
}